includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - plogins-sizer.php
        - src
        - config
    excludePaths:
        - vendor/
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
